#main-menu-button{
	background-image: url(../img/ie8/main-menu-button.png);
}

#profile-menu a>span{
	background-image: url(../img/ie8/profile-menu-icons.png);
}

#left-menu span[class^="icon-"]{
	background-image: url(../img/ie8/left-menu.png);
}

span.vip{
	background-image: url(../img/ie8/vip.png);
}
span.important{
	background-image: url(../img/ie8/important.png);
}
span.filter{
	background-image: url(../img/ie8/filter.png);
}
span.add{
	background-image: url(../img/ie8/add.png);
}

.repeat-button{
	background-image: url(../img/ie8/repeat.png);
}

[class^="type-20"]{
	background-image: url(../img/ie8/icons2.png);
}

.switch{
	background-image: url(../img/ie8/switch.png);
}

[class^="type8"]{
	background-image: url(../img/ie8/t8-controls.png);
}
.popover:before{
	background-image: url(../img/ie8/popover-corners.png);
}

.contact-info .user > *{
	background-image: url(../img/ie8/contact-info.png) no-repeat;
}

.calendar-icon{
	background-image: url(../img/ie8/calendar.png);
}

[class^="add-plus-"]{
	background-image: url(../img/ie8/add-plus.png);
}

.question{
	background-image: url(../img/ie8/question.png);
}

[class^=grade-control]{
	background-image: url(../img/ie8/grade-controls.png);
}

[class^="delivery-icon"]{
	background-image: url(../img/ie8/delivery.png);
}

[class^="pagination-control-"]{
	background-image: url(../img/ie8/paging-controls.png);
}

.warning{
	background-image: url(../img/ie8/warning.png);
}

[class^="hm-arrows"]{
	background-image: url(../img/ie8/head-menu-arrows.png);
}

#steps-menu > li:after{
	background-image: url(../img/ie8/head-menu-corners.png);
}

.popover.green:before{
	background-image: url(../img/ie8/green-popover-corner.png);
}

.edit-input-icon{
	background-image: url(../img/ie8/pen.png);
}

.repeat-button-2{
	background-image: url(../img/ie8/repeat-2.png);
}

.pen-green{
	background-image: url(../img/ie8/pen-green.png);
}

.jq-checkbox.checked{
	background-image: url(../img/ie8/checked.png);
}