html, body{
	height: 100%;
}

body{
	font-family: 'Tahoma';
	font-size: 10px;
	margin: 0;
	width: 100%;
}

#page{
	width: 100%;
	height: 100%;
	min-width: 1024px;
	font-size: 1.2em;
}
header{
	width: 100%;
	height: 38px;
	background: #5c5c5c;
	position: relative;
}
#main-menu-button{
	width: 74px;
	height: 38px;
	background: url(../img/top-menu.png) center center no-repeat;
	-webkit-background-size: 20px 12px;
	background-size: 20px 12px;
	
}
#main-menu-button.active{
	opacity: .2;
}
#main-content{
	font-size: 0;
}
#top-menu li a, #profile-menu a{
	height: 38px;
	line-height: 38px;
	display: inline-block;
}
#top-menu li a{
	text-decoration: none;
	color: #fff;
	padding: 0 11px;
}
#top-menu li:first-child a{
	padding-left: 0;
}
#top-menu li:last-child a{
	padding-right: 0;
}
#top-menu li a:hover{
	color: #7d7d7d;
}

#profile-menu a{
	padding: 5px 18px 0 3px;
	height: 33px;
}
#profile-menu li:first-child a{
	padding-right: 21px;
}
#profile-menu a>span{
	background-image: url(../img/profile-menu-icons.png);
	-webkit-background-size: 60px 40px;
	background-size: 60px 40px;
	display: inline-block;
	width: 20px;
	height: 20px;
	position: relative;
}
.icon-settings{
	background-position: -20px 0;
}
.icon-user{
	background-position: -40px 0;
}
span.count{
	position: absolute;
	border: 3px solid  #5c5c5c;
	color: #fff;
	line-height: 1;
	background: #ea6c6c;
	font-size: 8px;
	padding: 1px 5px; 
	border-radius: 10px;
	top: -5px;
	right: -20px;
}

#main-content > *{
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
}

#left-sidebar{
	width: 76px;
	background: #f2f2f2;
	height: 100%;
}

#left-menu li{
	width: 76px;
	text-align: center;
	border-bottom: 1px solid #f9f9f9;
}
#left-menu span[class^="icon-"]{
	width: 26px;
	height: 26px;
	background-image: url(../img/left-menu.png);
	-webkit-background-size: 104px 78px;
	background-size: 104px 78px;
	display: inline-block;
	margin-bottom: 5px;
}
#left-menu li:nth-child(3) span[class^="icon-"] {
	margin: -6px 0 10px;
}
#left-menu li:nth-child(4) span[class^="icon-"] {
	margin: -9px 0 14px;
}
#left-menu a:hover span.icon-order{
	background-position: 0 0;
}
#left-menu span.icon-clients{
	background-position: -26px 0 ;
}
#left-menu span.icon-pack{
	background-position: -52px 0;
}
#left-menu span.icon-delivery{
	background-position: -78px 0;
}

#left-menu a:not(.active):hover span.icon-order{
	background-position: 0 -52px;
}
#left-menu a:not(.active):hover span.icon-clients{
	background-position: -26px -52px;
}
#left-menu a:not(.active):hover span.icon-pack{
	background-position: -52px -52px;
}
#left-menu a:not(.active):hover span.icon-delivery{
	background-position: -78px -52px;
}

#left-menu a{
	text-decoration: none;
	color: #333;
	display: inline-block;	
	padding: 28px 0 24px;
	border-bottom: 1px solid #e8e8e8;
	width: 76px;
}
#left-menu a.active>*{
	opacity: .2;
}

#main{
	height: 100%;
	box-shadow: -3px 0 3px #e6e6e6;
}

#top-panel{
	height: 50px;
	line-height: 50px;
	background: #f2f2f2;
}
#top-panel > *{
	line-height: 1;
	vertical-align: middle;
	display: inline-block;
}
#top-panel span.filter{
	margin-left: 4px;
}
#top-panel .order-item > *{
	display: inline-block;
	vertical-align: middle;
}
#top-panel .order-item .number{
	font-size: 16px;
	font-weight: bold;
	color: #000;
}
#top-panel .order-item .info > *{
	margin-right: 16px;
}
#top-panel-controls{
	margin: 0 7px 0 14px;
	position: relative;
}
#search-order-form{
	margin-right: 23px;
}
#search-order-form input{
	padding: 5px 7px;
	border: none;
	border-top: 1px solid #d0d0d0;
	border-radius: 2px;
	font-size: 11px;
	outline: none;
	width: 143px;
	margin: -4px 0 0;
}
body.delivery #search-order-form input, body.grade #search-order-form input{
	width: 224px;
}

#right-top-menu{
	height: 50px;
	line-height: 45px;
}
#right-top-menu a{
	display: inline-block;
	margin-right: 20px;
}
#right-top-menu a>*{
	display: inline-block;
	vertical-align: middle;
}
#right-top-menu [class^="type-20"]{
	margin-right: 9px;
}





#order-list-wrapper{
	width: 240px;
}
#order-list{
	height: 540px;
	width: 239px;
	outline: none;
	padding: 1px 0 0 1px;
}
#order-list li{
	border-bottom: 1px solid #f2f2f2;
	display: block;
}
#order-list li a{
	display: block;
	border-left: 6px solid #00ba55;
	padding: 17px 8px 14px;
	color: #333;
	text-decoration: none;
}
#order-list li a>*{
	display: inline-block;
}
#order-list li a:hover{
	background-color: #f2f2f2;
}
#order-list li a time{
	font-size: 10px;
	color: #c2c2c2;
}
#order-list li a.red{
	border-left-color: #ea6c6c;
}
#order-list li a.blue{
	border-left-color: #6a8dc0;
}
#order-list li a .additional{
	float: right;
}

.jspVerticalBar{
	width: 5px;
	background-color: #f2f2f2;
}

#aside-controls{
	text-align: center;
	padding: 25px 0;
}

#inner-content{
	width: 100%;
	max-width: 1204px;
	min-width: 948px;
	min-height: 620px;
	font-size: 0;
}
#inner-content > *{
	font-size: 12px;
}

#orders-table{
	width: 100%;
	border: 1px solid #f2f2f2;
	border-collapse: collapse;
}
#orders-table td{
	padding: 0;
	border: 1px solid #f2f2f2;
}
#orders-table tr td:nth-child(2){
	width: 70px;
}
#orders-table tr td:nth-child(3){
	width: 56px;
	text-align: center;
}
#orders-table tr td:nth-child(4){
	width: 150px;
	text-align: center;
}
#orders-table .amount{
	padding-left: 18px;
}
#orders-table .controls{
	display: inline-block;
}
#orders-table .amount .controls{
	width: 8px;
	vertical-align: middle;
	margin: -10px 0 0 24px;
	line-height: 24px;
}
#orders-table .price{
	padding: 0 15px 0 6px;
}
#orders-table .price .controls{
	float: right;
}

#orders-table .item-info{
	padding: 11px 20px 11px;
}
.item-info .info{
	width: 330px;
}

.item-info > *{
	display: inline-block;
	vertical-align: middle;
}
.item-info .image{
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-right: 11px;
}
.item-info .image img{
	height: auto;
	width: auto;
	max-width: 40px;
	max-height: 40px;
	display: inline-block;
	vertical-align: middle;
}
.item-info .model{
	font-size: 11px;
	color: #c2c2c2;
}

.contact-info{
	margin: 26px 0 14px;
}
.contact-info > *, .contact-info > .additional > *{
	display: inline-block;
	vertical-align: top;
}
.contact-info > .additional > *{
	margin: 1px 54px 0 28px;
}
.contact-info > .user > *, .contact-info > .additional > * > *{
	margin: 5px 0;
}
.contact-info .user{
	margin-left: 24px;
}
.contact-info .user > *{
	padding-left: 30px;
	height: 16px;
	background: url(../img/contact-info.png) no-repeat;
	-webkit-background-size: 16px 48px;
	background-size: 16px 48px;
	margin: 6px 0 9px;
}
.contact-info .user .name{
	background-position: 0 0;
}
.contact-info .user .phone{
	background-position: 0 -16px;
}
.contact-info .user .email{
	background-position: 0 -32px;
}

.popover-content{
	padding: 0 7px;
}
.popover-content > *{
	line-height: 28px;
}
.popover-content > * > *{
	line-height: 1;
}
#filter-popover{
	display: none;
	width: 238px;
	left: -14px;
	top: 34px;
}
#filter-popover:before{
	left: 42px;
}

.datepick-month-header{
	display: none;
}

#filter-range{
	border: none;
	outline: none;
}

.datepick.popover:before{
	left: 15px;
}

/*tbody .datepick-selected:first-child{
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}
tbody .datepick-selected:last-child{
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}*/

#order-summary > *{
	display: inline-block;
	vertical-align: top;
}
#order-summary .add-more{
	position: relative;
	margin-left: 24px;
}
#order-summary .summary{
	margin-right: 39px;
}
#add-more{
	color: #00ba55;
}
#add-more span{
	margin-right: 10px;
}
#add-more + .popover{
	display: none;
	top: 30px;
	left: -12px;
}
#add-more + .popover:before{
	left: 10px;
}
#add-more-popover .popover-content{
	padding: 7px 10px;
}
#more-goods{
	width: 550px;
	border-collapse: collapse;
	margin: 4px 0 0;
}
#more-goods th{
	padding: 10px 9px;
}
#more-goods td{
	padding: 0 9px;
}
#more-goods td, #more-goods th{
	text-align: center;
	border: 1px solid #f2f2f2;
}
#more-goods tr td:nth-child(1){
	width: 9% ;
}
#more-goods tr td:nth-child(2){
	width: 11%;
}
#more-goods tr td:nth-child(3){
	width: 38%;
}
#more-goods tr td:nth-child(4){
	width: 16%;
}
#more-goods tr td:nth-child(5){
	width: 13%;
}
#more-goods tr td:nth-child(3), #more-goods tr th:nth-child(3){
	text-align: left;
}
#more-goods img{
	height: auto;
	width: auto;
	max-width: 40px;
	max-height: 40px;
	display: inline-block;
	vertical-align: middle;
}

.sort a.active{
	border: none;
	color: #fff;
	background-color: #00ba55;
	border-radius: 2px;
	box-shadow: 0 1px 0 0 rgba(0,0,0,.23) inset;
	padding: 3px 11px;
}
.sort a{
	margin-right: 9px;
}
.sort input{
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	padding: 5px 7px;
	vertical-align: middle;
	font-size: 11px;
	width: 208px;
	margin-left: 22px;
}

#order-summary{
	display: inline-block;
	width: 100%;
	margin: 24px 0 20px;
}

#order-total{
	background-color: #f8f8f8;
	padding: 18px 0;
}
#order-total .summary a.ul-dotted{
	margin-left: 12px;
}
#order-total .summary .calendar-icon{
	margin: -4px 0 0 16px;
}
#order-total .summary .title{
	width: 139px;
}

#order-bottom{
	color: #afafaf;
	margin: 18px 0;
}
#order-bottom .type{
	margin: 0 24px;
}

#order-form{
	margin: 0 23px;
}
#order-form label[for="delivery_time"]{
	width: 55px;
}
#order-form #delivery_time-styler .select .text{
	width: 93px;
}
#order-form input[type="submit"]{
	margin-left: 147px;
	padding: 5px 8px;
}

.no-items{
	text-align: center;
	background-color: #f8f8f8;
	line-height: 60px;
	margin: 20px 25px;
}
.no-items a{
	color: #00ba55;
	border-color: #00ba55;
}

#order-form-wrap #add-more{
	margin: 15px 0 15px 25px;
}
#order-form-wrap #orders-table .amount{
	text-align: center;
}

#grade-table{
	border-collapse: collapse;
	width: 99%;
	margin: 10px;
}
#grade-table tr > *{
	border: 1px solid #f2f2f2;
	text-align: center;
	padding: 5px 0;
}
#grade-table .separate-cell-top{
	padding-bottom: 5px;
	border-bottom: 1px solid #f2f2f2;
}
#grade-table .separate-cell-bottom{
	padding-top: 5px;
}
#grade-table tr:hover td, #grade-table tr:hover [class^="separate-cell-"]{
	background-color: #f9f9f9;
	border-color: #f9f9f9;
}
#grade-table th:nth-child(1){
	width: 3%;
}
#grade-table th:nth-child(2){
	width: 11%;
}
#grade-table th:nth-child(3){
	width: 12%;
}
#grade-table th:nth-child(4){
	width: 10%;
}
#grade-table th:nth-child(5){
	width: 11%;
}
#grade-table th:nth-child(6){
	width: 24%;
}
#grade-table th:nth-child(7){
	width: 17%;
}
#grade-table img{
	vertical-align: middle;
}

#right-top-menu [class^="grade-control-"]{
	margin-right: 7px;
}

#delivery-table{
	width: 100%;
	min-width: 1095px;
	margin: 10px;
}
#delivery-table th, #delivery-table tr td:nth-child(1) time{
	padding: 8px;
}
#delivery-table tbody td{
	padding: 5px 10px;
}
#delivery-table .delivery-icon-2{
	margin-left: 10px;
}
#delivery-table tr td:nth-child(1) time{
	display: block;
	text-align: center;
}
#delivery-table tr>*:nth-child(1){
	width: 9%;
}
#delivery-table tr>*:nth-child(2){
	width: 9%;
}
#delivery-table tr>*:nth-child(3){
	width: 13%;
}
#delivery-table tr>*:nth-child(4){
	width: 10%;
}
#delivery-table tr>*:nth-child(5){
	width: 9%;
	text-align: center;
}
#delivery-table tr>*:nth-child(6){
	text-align: center;
	width: 9%;
}
#delivery-table tr>*:nth-child(7){
	text-align: center;
	width: 8%;
}
#delivery-table tr>*:nth-child(8){
	width: 10%;
}
#delivery-table tr>*:nth-child(9){
	text-align: center;
	width: 15%;
}
#delivery-table tr>*:nth-child(10){
	text-align: center;
	width: 10%;
}
#delivery-table tr td:nth-child(1){
	padding: 0;
}
#delivery-table th{

}
#delivery-table + .paginetion{
	margin-top: 18px;
}

#steps-menu{
	font-size: 0;
	border-bottom: 1px solid #f2f2f2;
}
#steps-menu > li{
	font-size: 12px;
	width: 25%;
	text-align: center;
	line-height: 31px;
	position: relative;
	height: 31px;
	color: #afafaf;
	cursor: pointer;
}
#steps-menu > li *{
	position: relative;
	z-index: 6;
}
#steps-menu > li:nth-child(1){
	z-index: 4;
}
#steps-menu > li:nth-child(2){
	z-index: 3;
}
#steps-menu > li:nth-child(3){
	z-index: 2;
}
#steps-menu > li:nth-child(4){
	z-index: 1;
}
#steps-menu > li:nth-child(4):after{
	display: none;
}
#steps-menu > li:after{
	display: inline-block;
	content: '';
	width: 9px;
	height: 31px;
	background-image: url(../img/head-menu-corners.png);
	-webkit-background-size: 18px 31px;
	background-size: 18px 31px;
	background-position: -9px 0;
	position: absolute;
	top: 0;
	right: -9px;
}
#steps-menu > li.active{
	background-color: #00ba55;
	color: #fff;
}
#steps-menu > li .hm-arrows{
	top: 13px;
	position: relative;
}
#steps-menu > li .warning{
	position: relative;
	top: 8px;
	left: 11px;
	opacity: .2;
	transition:opacity 100ms linear;
}
#steps-menu > li .warning:hover{
	opacity: 1;
}
#steps-menu > li.active .hm-arrows{
	background-position: 0 0;
}

#steps-menu > li.active:after{
	background-position: 0 0;
}
#steps-menu > li [class^="hm-"]{
	float: right;
}
#steps-menu li > ul{
	background-color: #00ba55;
}
#steps-menu > li > ul{
	display: none;
}
#steps-menu li ul{
	list-style: none;
	text-align: left;
	line-height: 26px;
	margin: 0;
	padding: 14px 7px;
	font-size: 11px;
	width: 230px;
	position: absolute;
	z-index: 5;
	top: 14px;
}
#steps-menu li ul li > *{
	line-height: 1;
}
#steps-menu li ul li{
	border-bottom: 1px solid #00b352;
	border-top: 1px solid #30c574;
}
#steps-menu li ul li .popover:before{
	left: 15px;
}
#steps-menu li ul li .popover{
	left: -7px;
	top: 31px;
	display: none;
}
#steps-menu li ul li .popover ul{
	width: 174px;
}
#steps-menu li ul li .popover ul li{
	border-top: none;
	border-bottom-color: #0ea352;
}
#steps-menu li ul li .popover ul li:last-child{
	border-bottom: none;
	padding-bottom: 0;
}
#steps-menu li ul li .popover a{
	color: #fff;
	text-decoration: none;
}
#steps-menu li ul li .popover a:hover{
	color: #37b671;
}
#steps-menu .warning .popover{
	padding: 5px;
	width: 150px;
	display: none;
	top: 26px;
	left: -10px;
}
#steps-menu .warning:hover .popover{
	display: inline-block;
}

#delivery-type-styler .text{
	width: 153px;
}

#right-top-menu .type-22{
	vertical-align: middle;
	margin: 0 0 0 4px;

}

#right-top-menu .vip.type-22{
	margin-right: 37px;
}
#right-top-menu .repeat-button-2{
	vertical-align: middle;
	margin: 0 8px 0 26px;
}
#right-top-menu .text{
	margin-top: 2px;
	display: inline-block;
}

body.grade .summary{
	padding: 8px 0px 0 10px;
}